<div class="dashboard">
    <div class="infoMes">
        <div>
            <h1>Aqui está seu balanço este mês</h1>
            <h2>R${{balancoMes}}</h2>
        </div>
        <div>
            <h1>Relação entre Pagamentos</h1>
            <h2>adicionar gráfico aqui</h2>
        </div>
        <div>
            <h1>Relação entre Recebimentos</h1>
            <h2>adicionar gráfico aqui</h2>
        </div>
    </div>
    <div class="infoGeral">
        <div>
            <h1>Aqui está seu balanço geral</h1>
            <h2>R${{balancoGeral}}</h2>
        </div>
        <div>
            <h1>Relação entre Pagamentos</h1>
            <h2>adicionar gráfico aqui</h2>
        </div>
        <div>
            <h1>Relação entre Recebimentos</h1>
            <h2>adicionar gráfico aqui</h2>
        </div>
    </div>
</div>
