<div class="dashboard">
    <div class="infoMes">
        <div class="balanco">
            <h1>Aqui está seu balanço este mês</h1>
            <h2>R${{balancoMes}}</h2>
        </div>
        <div class="grafico">
            <h1>Pagos e Recebidos</h1>
            <canvas baseChart
                [labels]="dougChartLabels"
                [datasets]="dougMesChartDatasets"
                [options]="dougChartOptions"
                [legend]="true"
                [type]="'doughnut'"
            ></canvas>
        </div>
        <div class="grafico">
            <h1>Relação entre Pagamentos</h1>
            <canvas baseChart
                [labels]="dougChartLabelsPag"
                [datasets]="dougMesChartDatasetsPag"
                [options]="dougChartOptions"
                [legend]="true"
                [type]="'doughnut'"
            ></canvas>
        </div>
        <div class="grafico">
            <h1>Relação entre Recebimentos</h1>
            <canvas baseChart
            [labels]="dougChartLabelsRec"
            [datasets]="dougMesChartDatasetsRec"
            [options]="dougChartOptions"
            [legend]="true"
            [type]="'doughnut'"
        ></canvas>
        </div>
    </div>
    <div class="infoGeral">
        <div class="balanco">
            <h1>Aqui está seu balanço geral</h1>
            <h2>R${{balancoGeral}}</h2>
        </div>
        <div class="grafico">
            <h1>Pagos e Recebidos</h1>
            <canvas baseChart
                [labels]="dougChartLabels"
                [datasets]="dougGeralChartDatasets"
                [options]="dougChartOptions"
                [legend]="true"
                [type]="'doughnut'"
            ></canvas>
        </div>
        <div class="grafico">
            <h1>Relação entre Pagamentos</h1>
            <canvas baseChart
                [labels]="dougChartLabelsPag"
                [datasets]="dougGeralChartDatasetsPag"
                [options]="dougChartOptions"
                [legend]="true"
                [type]="'doughnut'"
            ></canvas>
        </div>
        <div class="grafico">
            <h1>Relação entre Recebimentos</h1>
            <canvas baseChart
            [labels]="dougChartLabelsRec"
            [datasets]="dougGeralChartDatasetsRec"
            [options]="dougChartOptions"
            [legend]="true"
            [type]="'doughnut'"
        ></canvas>
        </div>
    </div>
</div>
