<div class="intro">
    <h1>
        Seja bem-vindo ao <span>Money</span><span class="font-minder text-4xl">Minder</span>
    </h1>
    <h3>O seu assistente financeiro</h3>
    <p>Com o MoneyMinder você será capaz de acompanhar sua vida financeira registrando pagamentos e recebimentos. <br><br>
    Tenha uma melhor visão de pagamentos pendentes e do seu balanço financeiro. <br>
    <br>Estamos aqui para simplificar suas finanças e proporcionar uma gestão mais eficiente do seu dinheiro. Comece agora mesmo a transformar sua vida financeira </p>
</div>