<!-- <div class="unicoForm">
    <form (ngSubmit)="onSubmit()" #unicoForm="ngForm">
      <h1 class="titulo">Registrar pagamento parcelado</h1>
      <div class="apelido">
        <label for="apelido">Apelido</label>
        <input
          class="styledInput"
          type="text"
          name="apelido"
          id="apelido"
          [(ngModel)]="registro.apelido"
        />
      </div>
      <div class="numeroParcelas">
        <label for="numeroParcelas">Número de Parcelas</label>
        <input
          class="styledInput"
          type="number"
          name="numeroParcelas"
          id="numeroParcelas"
          required
          [(ngModel)]="registro.numeroParcelas"
        />
      </div>
      <div *ngFor="">
        <h2>parcela</h2>
      </div>
      <div class="dataPagamento">
        <label for="dataPagamento">Data</label>
        <input
          class="styledInputDate"
          type="date"
          name="dataPagamento"
          id="dataPagamento"
          required
          [(ngModel)]="registro.dataPagamento"
          #name="ngModel"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="calendarIcon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z"
          />
        </svg>
      </div>
      <div class="nome">
        <label for="nome">Nome</label>
        <input
          class="styledInput"
          type="text"
          name="nome"
          id="nome"
          required
          [(ngModel)]="registro.nome"
          #name="ngModel"
        />
      </div>
      <div class="cadastrar" [hidden]="!unicoForm.form.valid">
        <button
          type="submit"
          (click)="registrar(); unicoForm.reset()"
        >Cadastrar</button>
      </div>
    </form>
  </div>
   -->