<div class="grid grid-cols-12 h-full">
  <app-registro-sidebar (operacao)="atualizarOperacao($event)" class="col-start-1 col-span-3 md:col-span-1 bg-Azul-claro"></app-registro-sidebar>
  <div *ngIf="operacao == 'cadastrar'" class="col-span-9 md:col-span-11">
    <div>
      <fieldset>
        <div [class]="indexBotoes()">
          <div class="botaoPagar">
            <input type="radio" id="Pagar" name="transacao" value="pagar" [(ngModel)]="transacao" (change)="atualizarTransacao(transacao)" checked />
            <label for="Pagar">Pagar</label>
          </div>
          <div class="botaoReceber">
            <input type="radio" id="Receber" name="transacao" value="receber" [(ngModel)]="transacao" (change)="atualizarTransacao(transacao)" />
            <label for="Receber">Receber</label>
          </div>
        </div>
      </fieldset>
    </div>
    
    <app-registro [transacao]="transacao" ></app-registro>
  </div>
  <div *ngIf="operacao == 'atualizar'" class="col-span-9 md:col-span-11">
    <app-atualizacao></app-atualizacao>
  </div>
  <div *ngIf="operacao == 'excluir'" class="col-span-9 md:col-span-11">
    <app-exclusao></app-exclusao>
  </div>
</div>


