<form class="registro" [formGroup]="registro" (ngSubmit)="onSubmit()">
  <div class="inputBloco">
    <label for="apelido">Apelido: </label>
    <input
      class="styledInput"
      id="apelido"
      type="text"
      formControlName="apelido"
    />
  </div>
  <div class="inputBloco">
    <label for="numeroParcelas">Número de Parcelas: </label>
    <input
      (change)="modificarParcelas()"
      class="styledInput"
      id="numeroParcelas"
      type="number"
      formControlName="numeroParcelas"
      min="1"
    />
  </div>
  <div class="inputBloco">
    <label for="nome">Nome: </label>
    <input class="styledInput" id="nome" type="text" formControlName="nome" />
  </div>
  <hr />
  <div class="parcelas" formArrayName="parcelas" #parcelasDiv>
    <div
      *ngFor="let parcela of parcelas.controls; let i = index"
      [formGroupName]="i"
      class="styledDiv"
    >
      <h2 class="titulo pt-4">Parcela Nº:{{ i + 1 }}</h2>
      <div class="inputBloco">
        <label for="valor-{{ i }}">Valor: </label>
        <input
          class="styledInput"
          id="valor-{{ i }}"
          type="number"
          formControlName="valor"
        />
      </div>
      <div class="dataPagamento inputBloco">
        <label for="dataPagamento-{{ i }}">Data: </label>
        <input
          class="styledInputDate"
          id="dataPagamento-{{ i }}"
          type="date"
          formControlName="dataPagamento"
        />
      </div>
      <div class="inputBloco inputBotoes">
        <span class="col-start-1 col-span-2 row-start-1">
          <label for="pago-{{ i }}">Pago: </label>
          <input
            class="styledInputCheckbox"
            id="pago-{{ i }}"
            type="checkbox"
            formControlName="pago"
          />
        </span>

        <button
          [disabled]="i == 0"
          class="styledBotao"
          type="button"
          (click)="anterior()"
        >
          Anterior
        </button>
        <button
          [disabled]="i + 1 == registro.controls.numeroParcelas.value"
          class="styledBotao"
          type="button"
          (click)="proximo()"
        >
          Próximo
        </button>
        <button *ngIf="registro.valid" class="cadastrarBotao" type="submit">
          Cadastrar
        </button>
      </div>
    </div>
  </div>
</form>